.img-responsive{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 30%;
      }

      body {
        /* background-image: url("../images/dark-paths/dark-paths.png"); */
        
      }